body{
    margin: 0;
    padding: 0;
}


header{
    background: linear-gradient(#ffffff, #ffff00);
    padding: 20px;
    text-align: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
nav img{
    height: 200px;
}
main{
    display: flex;
    justify-content: center;
}
main div{
    background: linear-gradient(#ffffff, #ffff00);
    padding: 20px;
    max-width: 1200px;
}
.imgbox{
    text-align: center;
}
.imgbox img{
    height: 300px;
    margin: 20px;
}